.editperson1{
    border-top: 1px solid #ddd;
}
.editperson2{
  height: 0;
  text-align: center;
  margin-bottom: 30px;
  top: -2rem;
  font-size: 20px;
}
#span1{
  background: #fff;
  padding: 0 1rem;
}
.form-check{
  padding-right: 1rem !important;
  display: inline-block;
}
